<main class="profile-page">
    <div class="container">
        <div class="profile-header">
            <h2 class="profile-title">Career Settings</h2>

            <button type="button" class="btn-delete" (click)="deleteProfile()">
                <i class="icon-trash"></i> Delete Account
            </button>
        </div>

        <div class="profile-card glass">
            <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" class="profile-form">
                <div class="form-section">
                    <h3>Personal Information</h3>
                    <div class="form-grid">
                        <div class="form-group">
                            <label>First Name</label>
                            <input formControlName="firstName">
                            @if (profileForm.controls['firstName'].invalid && profileForm.controls['firstName'].touched)
                            {
                            <span class="error-msg">Required (3-20 chars)</span>
                            }
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input formControlName="lastName">
                            @if (profileForm.controls['lastName'].invalid && profileForm.controls['lastName'].touched) {
                            <span class="error-msg">Required (3-20 chars)</span>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <h3>Security</h3>
                    <div class="form-grid">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input formControlName="email" type="email">
                            @if (profileForm.controls['email'].invalid && profileForm.controls['email'].touched) {
                            <span class="error-msg">Invalid email</span>
                            }
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input formControlName="password" type="password">
                            @if (profileForm.controls['password'].invalid && profileForm.controls['password'].touched) {
                            <span class="error-msg">Password (4-12 chars)</span>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn-primary" [disabled]="profileForm.invalid">
                        Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>