<main class="auth-page">
    <div class="auth-card glass">
        <h2 class="auth-title">Welcome Back</h2>
        <p class="auth-subtitle">Log in to your JobFinder account to continue.</p>


        <form [formGroup]="loginForm" (ngSubmit)="login()" class="auth-form">
            <div class="form-group">
                <label>Email Address</label>
                <input formControlName="email" type="email" placeholder="email@example.com">
                @if (loginForm.controls['email'].invalid && (loginForm.controls['email'].touched ||
                loginForm.controls['email'].dirty)) {
                <div class="error-msg">
                    @if (loginForm.controls['email'].errors?.['required']) { <span>Required</span> }
                    @if (loginForm.controls['email'].errors?.['email']) { <span>Invalid email</span> }
                </div>
                }
            </div>

            <div class="form-group">
                <label>Password</label>
                <input formControlName="password" type="password" placeholder="••••••••">
                @if (loginForm.controls['password'].invalid && (loginForm.controls['password'].touched ||
                loginForm.controls['password'].dirty)) {
                <div class="error-msg">
                    @if (loginForm.controls['password'].errors?.['required']) { <span>Required</span> }
                    @if (loginForm.controls['password'].errors?.['minlength']) { <span>Invalid password</span> }
                </div>
                }
            </div>

            <button type="submit" class="btn-primary auth-submit" [disabled]="!loginForm.valid">
                Log In
            </button>

            <p class="auth-footer">
                Don't have an account? <a routerLink="/register">Sign up</a>
            </p>
        </form>
    </div>
</main>