<main class="auth-page">
    <div class="auth-card glass">
        <h2 class="auth-title">Create an Account</h2>
        <p class="auth-subtitle">Join the JobFinder community and start your professional journey.</p>


        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="auth-form">
            <div class="form-grid">
                <div class="form-group">
                    <label>First Name</label>
                    <input formControlName="firstName" placeholder="e.g. Ayoub">
                    @if (registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].touched ||
                    registerForm.controls['firstName'].dirty)) {
                    <div class="error-msg">
                        @if (registerForm.controls['firstName'].errors?.['required']) { <span>Required</span> }
                        @if (registerForm.controls['firstName'].errors?.['minlength']) { <span>Min 3 chars</span> }
                    </div>
                    }
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input formControlName="lastName" placeholder="e.g. Benmansour">
                    @if (registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].touched ||
                    registerForm.controls['lastName'].dirty)) {
                    <div class="error-msg">
                        @if (registerForm.controls['lastName'].errors?.['required']) { <span>Required</span> }
                    </div>
                    }
                </div>
            </div>

            <div class="form-group">
                <label>Email Address</label>
                <input formControlName="email" type="email" placeholder="email@example.com">
                @if (registerForm.controls['email'].invalid && (registerForm.controls['email'].touched ||
                registerForm.controls['email'].dirty)) {
                <div class="error-msg">
                    @if (registerForm.controls['email'].errors?.['required']) { <span>Required</span> }
                    @if (registerForm.controls['email'].errors?.['email']) { <span>Invalid email</span> }
                </div>
                }
            </div>

            <div class="form-group">
                <label>Password</label>
                <input formControlName="password" type="password" placeholder="••••••••">
                @if (registerForm.controls['password'].invalid && (registerForm.controls['password'].touched ||
                registerForm.controls['password'].dirty)) {
                <div class="error-msg">
                    @if (registerForm.controls['password'].errors?.['required']) { <span>Required</span> }
                    @if (registerForm.controls['password'].errors?.['minlength']) { <span>Min 4 characters</span> }
                </div>
                }
            </div>

            <button type="submit" class="btn-primary auth-submit" [disabled]="!registerForm.valid">
                Register
            </button>

            <p class="auth-footer">
                Already have an account? <a routerLink="/login">Log in</a>
            </p>
        </form>
    </div>
</main>